@model WebApplication15.Models.Section

@{
    ViewBag.Title = "حذف بخش";
}

<h4>آیا از حذف این بخش مطمئن هستید؟</h4>

<div>
    @*<h4>بخش</h4>
        <hr />*@
    @*<dl class="dl-horizontal">


            <dd>
                @Html.DisplayFor(model => model.SectionName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SectionName)
            </dt>

        </dl>*@

    @Html.LabelFor(m => m.SectionName)
    @Html.EditorFor(m => m.SectionName, new { htmlAttributes = new { @class = "form-control", Required = "Required", autocomplete = "off", placeholder = "فیلد را خالی نگذارید" } })
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" onclick="confirm('با حذف این بخش، تمامی قسمت های مربوط به آن نیز حذف خواهد شد.') || event.preventDefault();" class="btn btn-default" />
            @*@Html.ActionLink("برگشت به فهرست اصلی", "Index")*@
        </div>
    }
</div>

