@model List<WebApplication15.Models.Value>
@* this page display in pdf *@
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    th, td {
        text-align: center;
    }

    p {
        text-align: center;
        font-size: 20px;
    }

    .inline {
        display: inline;
    }

    #alloh {
        font-weight: bold;
    }
</style>
<div dir="rtl">
    <p id="alloh">به نام خدا</p>
    <p>نیروگاه تولید برق (توربین) </p>
    <h4>نام بخش :   @ViewBag.SectionName</h4>
    <h4>نام قسمت : @ViewBag.PartName</h4>

    @if (ViewBag.Date != null)
    {

        <h4>تاریخ : @ViewBag.Date</h4>
        <hr />
        <table class="table table-bordered table-hover">
            <tr>
                <th style="background-color:aqua">ساعت</th>
                <th style="background-color:aqua">مقدار</th>
            </tr>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => i.Clock)</td>
                    <td>@Html.DisplayFor(model => i.Value1)</td>
                </tr>
            }
        </table>
    }
    else if (ViewBag.firstdate != null && ViewBag.enddate != null)
    {

        <h4 class="inline">تاریخ : از @ViewBag.firstdate</h4>
        <p class="inline">تا</p>
        <h4 class="inline"> @ViewBag.enddate</h4>
        <hr />
        DateTime DT = DateTime.Parse(ViewBag.firstdate);

        <table class="table table-bordered table-hover">
            <tr>
                <th colspan="3" style="background-color:cornflowerblue">تاریخ : @DT.ToShortDateString()</th>

            </tr>
            <tr>
                <th style="background-color:aqua">ساعت</th>
                <th style="background-color:aqua">مقدار</th>
            </tr>

            @foreach (var i in Model)
            {
                if (DT != i.Date)
                {
                    DT = DT.AddDays(1);
                    <tr>
                        <th style="background-color:cornflowerblue" colspan="3">تاریخ : @DT.ToShortDateString()</th>
                    </tr>
                    <tr>
                        <th style="background-color:aqua">ساعت</th>
                        <th style="background-color:aqua">مقدار</th>
                    </tr>
                    
                }
                <tr>
                    <td>@Html.DisplayFor(model => i.Clock)</td>
                    <td>@Html.DisplayFor(model => i.Value1)</td>
                </tr>

            }
        </table>
        DT = DT.AddDays(1);

    }


</div>
@*</body>
    </html>*@