@model WebApplication15.Models.Value

@{
    //ViewBag.Title = "ایجاد خبر";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pure CSS Table Highlight (vertical & horizontal)</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="~/Content/Bootstrap_Rtl/css/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="~/Content/BootstrapJalaliDatePicker/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/BootstrapJalaliDatePicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/BootstrapJalaliDatePicker/bootstrap-datepicker.fa.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=datetime]').datepicker({ dateFormat: "yy/mm/dd", isRTL: true, showButtonPanel: true });
        });
    </script>

    <style>
        p, h4 {
            text-align: right;
            color: skyblue;
        }
    </style>
</head>

<body dir="rtl">
    <h4>انتخاب بازه ی مورد نظر</h4>



    @using (Html.BeginForm("UploadExcel", "Values", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <input type="text" />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input name="PartID" value="@ViewBag.PartID" hidden />

            @*<p>نحوه ورود اطلاعات را وارد نمایید.</p>
                <input type="radio" id="interval" value="interval" name="TypeOfSetDate" />
                <label for="interval">بازه ای</label>
                <input type="radio" id="single" value="single" name="TypeOfSetDate"/>
                <label for="single">روزانه</label>*@
            <div class="form-group">

                <div class="col-md-10">
                    @*<input type="datetime" />*@
                    @*do same EditorFor*@
                    <input type="datetime" onfocus="BluredSingleDate()" id="Date" name="Date" class="form-control" placeholder="تاریخ مورد نظر را وارد نمایید" Required="Required" , autocomplete="off" />
                    <p>از تاریخ</p>
                    <input type="datetime" onfocus="BluredIntervalDate()" id="StartDate" name="Date1" class="form-control" placeholder="تاریخ مورد نظر را وارد نمایید" Required="Required" , autocomplete="off" />
                    @*@Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", Required = "Required", autocomplete = "off", placeholder = "تاریخ مورد نظر را وارد نمایید" } })*@
                    <p>تا تاریخ</p>
                    <input type="datetime" onfocus="BluredIntervalDate()" id="EndDate" name="Date2" class="form-control" placeholder="تاریخ مورد نظر را وارد نمایید" Required="Required" , autocomplete="off" />

                    @*@Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", Required = "Required", autocomplete = "off", placeholder = "تاریخ مورد نظر را وارد نمایید" } })*@

                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    <p style="opacity:60%;padding:5px;">به عنوان مثال: 1401/10/03</p>
                    <hr />
                    <hr />
                    <input type="file" id="importFile" name="ExleFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" onclick="ExportToTable()" required />
                   
                    </div>
            </div>

            <div class="form-group" style="float:right">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="ثبت" class="btn btn-primary" id="btnUpload" />
                </div>
            </div>

        </div>
    }
</body>
</html>



@section Scripts {



    @Scripts.Render("~/bundles/jqueryval")

}
<script>
    //if ($('#interval').is(':checked'))
    //{
    //    document.getElementById("single").disabled = true;
    //    document.getElementById("interval").disabled = false;
    //    document.getElementById("StartDate").


    //}
    //if ($('#single').is(':checked')) {
    //    document.getElementById("interval").disabled = true;
    //    document.getElementById("single").disabled = false;
    //}

    function BluredSingleDate() {
        $("#StartDate").val('');
        $('#StartDate').removeAttr('required');

        $("#EndDate").val('');
        $('#EndDate').removeAttr('required');

        $("#Date").attr("required", true);

    }
    function BluredIntervalDate() {
        $("#Date").val('');
        $('#Date').removeAttr('required');

        $("#StartDate").attr("required", true);
        $("#EndDate").attr("required", true);
    }
</script>


